@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");
@font-face {
  font-family: 'GoyangIlsan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 전체 배경 */
body {
  font-family: "Comfortaa", "GoyangIlsan", Helvetica, Arial, sans-serif;
  background-color: #ffefff;
  overflow-wrap: break-word;
}

.cover:nth-child(even) {
  background : #fffaff;
}

.about-tools ul li,
.contact-social-icons ul a li {
  text-align: center;
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .pull-right-sm {
    float: right !important;
  }

  .pull-left-sm {
    float: left !important;
  }
}

@media (min-width: 992px) {
  .pull-right-md {
    float: right !important;
  }

  .pull-left-md {
    float: left !important;
  }
}

@media (min-width: 1200px) {
  .pull-right-lg {
    float: right !important;
  }

  .pull-left-lg {
    float: left !important;
  }
}

* {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

img {
  width: 100%;
}

/* 타이틀/헤드라인 */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Comfortaa", "GoyangIlsan", Arial, sans-serif;
  font-weight: 700;
  color: #9F4298;
}

/* 본문 텍스트 */
p, dl {
  font-family: "Quattrocento", "GoyangIlsan", sans-serif;
  color: #4b4453 !important;
  font-size: 1.1em;
}

dl > dd {
  text-align: right;
  font-family: "GoyangIlsan", sans-serif;
  color: #816c7e !important;
  font-size: 1.2em;
}

dl > dt {
  font-family: "GoyangIlsan", sans-serif;
  color: #4b4453 !important;
  font-size: 1em;
  font-weight: lighter;
}

dl > dt > h3 {
  font-family: "GoyangIlsan", sans-serif;
  color: #4b4453 !important;
  font-size: 1.2em;

}

dl > dt > p.position {
  font-size: 1em;
  font-style: italic;
  margin: 0.5em 0;
}

body>.container-fluid {
  padding: 60px 15px 0;
}

.container-fluid .text-muted {
  margin: 20px 0;
}

.btn:focus,
a:focus {
  outline: none !important;
}

/* 헤더(Navbar) */
nav.navbar {
  height: 70px;
  background-color: transparent !important;
  background: transparent;
  border: none;
  color: #f0f0e6;
  z-index: 100;
  margin-bottom: 0;
  border-radius: 0;
  transition: background-color 1s ease 0s;
}

.navbar-brand {
  margin-top: 10px;
  color: #9F4298;
  font-weight: 400;
  display: none;
}

.navbar-collapse .navbar-nav>li>a {
  color: #9F4298;
  font-weight: 500;
  font-size: 1em;
  text-transform: lowercase;
  margin: 10px 5px 5px 5px;
  border-radius: 5px;
}

.navbar-collapse .navbar-nav>li>a:hover,
.navbar-collapse .navbar-nav>li>a:active,
.navbar-collapse .navbar-nav>li>a:focus {
  color: #51424f;
}

.navbar-collapse .navbar-nav>li>a:visited {
  color: #9F4298;
  text-decoration: none;
}

.navbar-collapse .navbar-nav>.active>a,
.navbar-collapse .navbar-nav>.active>a:hover,
.navbar-collapse .navbar-nav>.active>a:focus {
  background-color: transparent;
  color: #9F4298;
}

.navbar .navbar-toggler {
  border: none;
  color: #9F4298;
}

.navbar .navbar-collapse.collapse.in ul {
  background-color: #9F4298;
}


/* 스크롤 이후 고정 옵션 */
nav.navbar.solid {
  background-color: #9F4298 !important;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px #1f1926;
}

nav.navbar.solid .navbar-brand {
  display: inline-block;
  color: #f0f0e6;
  transition: color 1s ease 0s;
}

nav.navbar.solid .navbar-nav>li>a {
  color: #f0f0e6;
  transition: color 1s ease 0s;
}

.navbar.solid .navbar-toggler {
  border: none;
  color: #f0f0e6;
}


/* .cover class를 가진 HTML 섹션들의 설정 블록 */
.cover {
  padding: 12% 0 12% 0;
}

/*top, right, bottom, left*/
.cover.top {
  padding: 18% 0 10% 0;
  height: 100vh;
  display: flex;
}

.cover.bottom {
  padding: 10% 0 10% 0;
}

.headline {
  padding-top: 6.25em;
}

.headline>p>span.strong {
  text-decoration: underline;
  text-decoration-color: #CFDB31;
  text-decoration-thickness: 0.15em;
}

@media screen and (min-width: 768px) {
  .headline {
    padding-top: 3.75em;
  }
}

@media screen and (min-width: 992px) {
  .headline {
    padding-top: 1.5625em;
  }
}

@media screen and (min-width: 1200px) {
  .headline {
    padding-top: 0px;
  }
}

/* 섹션 별 배경 */
#about {
  background-color: #fff6ff;
}

#about .profile-photo {
  background-image: url("assets/me.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 28em;
}

#about .card-text h2 {
  color: #51424f;
  margin-bottom: 1.2em;
  margin-top: 1em;
}

#about .card-text {
  color: #51424f;
  line-height: 2em;
}

.card {
    border: 0;
    background-color: transparent;
}

ul.dashed {
  margin: 0;
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -1em;
}
ul.dashed > li:before {
  content: "-";
  text-indent: 4em;
  margin-right: 1em;
}

.about,
.about-info,
.about-tools,
.about-last {
  padding: 4% 10% 1% 10%;
  font-size: 1.25em;
}

.about-tools {
  padding-top: 4.375em;
  font-weight: 700;
  font-size: 1.5em;
}

@media screen and (min-width: 992px) {
  .about-tools {
    padding-top: 5.625em;
  }
}

.about-tools ul:first-child {
  padding-left: 0px;
}

.about-tools ul {
  color: #51424f;
  list-style: none;
}

.about-tools ul li {
  padding-top: 0.2em;
}

.about-tools p {
  color: #51424f;
  margin-top: 1.5em;
}

.text-bg-white {
    color: #fff !important;
    background-color: #fffaff !important;
}

.text-bg-purple {
    color: #fff !important;
    background-color: #9F4298 !important;
}

.bg-purple {
  background-color: #9F4298 !important;
}

.text-bg-lime {
    color: #3c3f0b !important;
    background-color: #CFDB31 !important;
}

.about-last {
  padding-top: 3.125em;
  padding-bottom: 0;
  font-size: 1.125em;
}

@media screen and (min-width: 992px) {
  .about-last {
    padding-top: 0;
  }
}

.about-last p {
  color: #9F4298;
}

.accordion {
    border: 0 !important;
}

.accordion > .accordion-item {
    border: none;
}

.accordion .accordion-body {
    background-color: #fffaff !important;
}
.accordion-item:not(:first-of-type) {
    border-top: 1px solid #51424f;
}
.accordion-item {
    border-top: 1px solid #51424f;
}
.accordion-header > .accordion-button {
    font-weight: 900;
    font-size: 0.65em;
    color: #51424f;
    background-color: #fffaff;
}

.accordion-button:not(.collapsed) {
    color: #9F4298;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button {
    color: #51424f;
    padding: 1.2em 0.5em;
}

.accordion-body {
  padding-bottom: 2.5em;
}


@media screen and (min-width: 768px) {
  .portfolio-projects {
    margin-top: 0.625em;
  }
}

.portfolio-projects--title {
  margin-top: 0.9375em;
}

@media screen and (min-width: 1200px) {
  .portfolio-projects--title {
    margin-top: 20%;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-projects--title {
    margin-top: 12%;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-projects--desc {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.portfolio-projects--btn {
  background: transparent;
  color: #9F4298;
  border: 1.5px solid #9F4298;
  border-radius: 30px;
}

.portfolio-projects--btn:hover {
  background: #9F4298;
  color: #f0f0e6;
}

.portfolio-projects--image {
  margin-bottom: 1.875em;
}

#contact h2 {
  color: #9F4298;
}

#contact dl dd, #contact dl dt {
  color: #51424f !important;
  font-family: "Comfortaa", "GoyangIlsan", Arial, sans-serif;
}

#contact a {
  color: #51424f;
  text-decoration: none;
}

#contact a:hover {
  color: #7d5277;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #9F4298;
  color: #f0f0e6;
}

#scrollIcon,
#scrollTopIcon {
  margin-top: 10vh;
  padding: 10px;
  font-size: 3.5em;
  color: #9F4298;
}

#scrollTopIcon {
  margin-top: 10px;
  font-size: 1em;
  color: #1e1e1e;
  border-color: #1e1e1e;
}

.back-to-top {
  display: none;
}

.back-to-top.visible {
  display: block;
}


.navbar-container.solid {
  background-color: #9F4298;
}

.navbar-collapse .navbar-collapse,
.navbar-collapse .navbar-form {
  border: hidden;
}

.navbar-collapse .navbar-collapse.show {
  background-color: #9F4298;
}

.navbar-toggle {
  margin-top: 15px;
}

.lead {
  font-size: 1.5em;
  line-height: 2.5;
}

@media (min-width: 768px) {
  .lead {
    font-size: 1.8em;
  }
}
